#main-content ul, #main-content h2 {
    margin: 0;
}

#main-content {
    padding: 20px 10%;
    background-color: #FFFEC2;
}

#main-content h2, #main-content h3 {
    font-family: "Gabarito", sans-serif;
}

#main-content ul {
    font-family: "EB Garamond", serif;
}

@media (min-width: 496px) {
    #main-content {
        padding: 20px 15%;
    }
}

/* No new styling needed on main content for window width range [728, 1032) as it is the same for window width range [496, 728). */

@media (min-width: 1032px) {
    #main-content {
        padding: 20px 20%;
    }
}

@media (min-width: 1400px) {
    #main-content {
        padding: 20px 25%;
    }
}