@keyframes showMessageSentConfirmation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Colors used in contact us page */

:root {
    --cream: #FFFEC2;
    --light-purple: #D9BAFF;
    --purple: #8C2FFF;
}

/* Styles for main content */

#main-content h2, h3 {
    margin: 0;
    font-family: "Gabarito", sans-serif;
}

#main-content p {
    font-family: "EB Garamond", serif;
}

#main-content {
    padding: 20px 10%;
    background-color: var(--cream);
}

/* Styles for contact us form itself and other related elements */

#button-placeholder {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.prompt {
    margin-bottom: 0;
}

input, textarea {
    width: 100%;
}

#message-input {
    height: 140px;
    resize: none;
}

#main-content button {
    color: black;
    background-color: var(--light-purple);
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 100px;
    font-family: "Gabarito", sans-serif;
    transition: color 0.25s, background-color 0.25s;
}

#main-content button:hover {
    cursor: pointer;
    color: white;
    background-color: var(--purple);
}

#message-sent-confirmation, #contact-us-form.hidden {
    display: none;
}

#message-sent-confirmation {
    text-align: center;
    height: 440px;
}

#message-sent-confirmation.visible {
    display: block;
    animation: 1s linear showMessageSentConfirmation forwards;
}

@media (min-width: 496px) {
    #main-content {
        padding: 20px 15%;
    }
}

@media (min-width: 728px) {
    #main-content {
        padding: 20px 25%;
    }
}

@media (min-width: 1032px) {
    #main-content {
        padding: 20px 30%;
    }
}

@media (min-width: 1400px) {
    #main-content {
        padding: 20px 35%;
    }
}