:root {
    --light-purple: #D9BAFF;
    --pink: #FFA6A6;
    --light-blue: #6FD6FA;
    --cream: #FFFEC2;
}

.section-link {
    font-family: "EB Garamond", serif;
    color: green;
}

/* Eyecatcher styles */

#eyecatcher-section {
    padding: 20px 10%;
    background-image: url(https://pianostar-kim.github.io/Apartments-Website/images/tucsonAZTransparent.png);
    background-size: cover;
    background-position: center;
}

#eyecatcher-section h1, #eyecatcher-section h2 {
    text-align: center;
    font-family: "Gabarito", sans-serif;
    margin: 0;
}

#eyecatcher-section h1 {
    font-size: 3rem;
}

/* Amenities section styles */

#amenities-section {
    padding: 20px 10%;
    background: linear-gradient(var(--light-purple), var(--pink));
}

#amenities-section h2, #amenities-section h3 {
    margin: 0;
    font-family: "Gabarito", sans-serif;
}

#amenities-section p, #amenities-section ul {
    font-family: "EB Garamond", serif;
}

#amenities-section p {
    margin: 20px 0;
}

/* Styles for floor plans section and other related elements */

#floor-plans-section {
    background: linear-gradient(var(--pink), var(--light-blue));
    padding: 20px 10%;
}

#floor-plans-section h2, .floor-plan-sample-info-box > p {
    margin: 0;
}

#floor-plans-section h2 {
    font-family: "Gabarito", sans-serif;
}

#floor-plans-section p {
    font-family: "EB Garamond", serif;
}

#floor-plans-section > p {
    margin: 20px 0;
}

#secondary-body-for-floor-plans, #floor-plan-sample-info-box-navigation {
    display: flex;
}

#secondary-body-for-floor-plans {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.floor-plan-sample-info-box {
    background-color: var(--cream);
    text-align: center;
}

.floor-plan-image {
    width: 200px;
}

#floor-plan-sample-info-box-navigation {
    width: 60px;
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}

#sample-info-box-radio-1, #sample-info-box-radio-2, #sample-info-box-radio-3, .floor-plan-sample-info-box {
    display: none;
}

#sample-info-box-radio-1:checked ~ #sample-info-box-1,
#sample-info-box-radio-2:checked ~ #sample-info-box-2,
#sample-info-box-radio-3:checked ~ #sample-info-box-3 {
    display: block;
}

#sample-info-box-radio-1:checked ~ #floor-plan-sample-info-box-navigation #dot-1,
#sample-info-box-radio-2:checked ~ #floor-plan-sample-info-box-navigation #dot-2,
#sample-info-box-radio-3:checked ~ #floor-plan-sample-info-box-navigation #dot-3 {
    background-color: white;
}

/* Styles for reviews section and other related elements */

#reviews-section {
    padding: 20px 10%;
    background: linear-gradient(var(--light-blue), var(--cream));
}

#reviews-section h2 {
    margin: 0;
    font-family: "Gabarito", sans-serif;
}

#reviews-section p, .sample-review {
    font-family: "EB Garamond", serif;
}

#reviews-section p {
    margin: 20px 0;
}

.sample-review {
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

@media (min-width: 496px) {
    #eyecatcher-section, #amenities-section, #floor-plans-section, #reviews-section {
        padding: 20px 15%;
    }
}

@media (min-width: 728px) {
    #eyecatcher-section {
        padding: 50px 15%;
    }
}

@media (min-width: 1032px) {
    #eyecatcher-section {
        padding: 50px 20%;
    }

    #amenities-section, #floor-plans-section, #reviews-section {
        padding: 20px 20%;
    }
}

@media (min-width: 1400px) {
    #eyecatcher-section {
        padding: 50px 25%;
    }

    #amenities-section, #floor-plans-section, #reviews-section {
        padding: 20px 25%;
    }
}
