/* These are styles that are common to all webpages of the apartment website. */

@keyframes darken {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes lighten {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideIntoView {
    0% {
        right: -275px;
    }
    100% {
        right: 0;
    }
}

@keyframes slideOutOfView {
    0% {
        right: 0;
    }
    100% {
        right: -275px;
    }
}

body {
    margin: 0;
}

#mobile-header, #desktop-header, #footer {
    display: flex;
    background-color: #6EDE4D;
}

#mobile-header {
    padding: 5px 10% 5px 10%;
    flex-direction: horizontal;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 76px;
}

#mobile-navigation {
    background-color: pink;
    position: fixed;
    z-index: 101;
    width: 250px;
    height: 100vh;
    padding: 25px 25px 0 0;
    top: 0;
    right: -275px;
    text-align: right;
}

#mobile-navigation button {
    font-family: "Gabarito", sans-serif;
    font-size: 24px;
    color: black;
    background-color: transparent;
    border: none;
    transition: color 0.25s
}

#mobile-navigation button:hover {
    cursor: pointer;
    color: #FFFEC2;
}

#mobile-navigation-closer {
    font-size: 24px;
    color: black;
    transition: color 0.25s;
}

#mobile-navigation-closer:hover {
    cursor: pointer;
    color: #FFFEC2;
}

#mobile-navigation.active {
    animation: 0.25s ease-in-out slideIntoView forwards;
}

#mobile-navigation.inactive {
    animation: 0.25s ease-in-out slideOutOfView forwards;
}

#darkener {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: rgb(0, 0, 0, 0.75);
    pointer-events: none;
    z-index: 100;
}

#darkener.active {
    animation: 0.25s linear darken forwards;
    pointer-events: all;
}

#darkener.inactive {
    animation: 0.25s linear lighten forwards;
    pointer-events: none;
}

#menu-icon {
    font-size: 24px;
    color: black;
    transition: color 0.25s;
}

#menu-icon:hover {
    cursor: pointer;
    color: #FFFEC2;
}

#desktop-header {
    padding: 0 5% 0 5%;
    display: none;
}

#desktop-header-navigation {
    display: flex;
    flex-direction: horizontal;
}

#desktop-header-navigation a {
    width: 100px;
}

#desktop-header-navigation a button {
    height: 100%;
    width: 100%;
    font-family: "Gabarito", sans-serif;
    background-color: transparent;
    border: none;
    transition: background-color 0.25s;
}

#desktop-header-navigation a button:hover {
    cursor: pointer;
    background-color: pink;
}

#footer {
    flex-direction: column;
    padding: 0 10%;
    font-family: "EB Garamond", serif;
}

@media (min-width: 496px) {
    #mobile-header {
        padding: 5px 15% 5px 15%;
    }
    
    #footer {
        padding: 0 15% 0 15%;
    }
}

@media (min-width: 728px) {
    #mobile-header {
        display: none;
    }

    #desktop-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5% 0 5%;
    }
}

@media (min-width: 1032px) {
    #desktop-header {
        padding: 0 10% 0 10%;
    }

    #footer {
        padding: 0 10% 0 10%;
    }
}

@media (min-width: 1400px) {
    #desktop-header {
        padding: 0 15% 0 15%;
    }

    #footer {
        padding: 0 15% 0 15%;
    }
}