#main-content h2, #main-content h3 {
    margin: 0;
    font-family: "Gabarito", sans-serif;
}

#main-content {
    padding: 20px 10% 20px 10%;
    background-color: #FFFEC2;
}

table {
    width: 100%;
}

.info-category, .info {
    width: 50%;
    font-family: "EB Garamond", serif;
}

.floor-plan-image {
    width: 75px;
}

.info-category {
    text-align: right;
    padding-right: 12.5px;
}

.info {
    padding-left: 12.5px;
}

.desktop-view {
    display: none;
}

.desktop-view-floor-plan-info-box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.floor-plan-image-placeholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

@media (min-width: 496px) {
    #main-content {
        padding: 20px 15% 20px 15%;
    }
}

/* Min width for laptop/desktop view. */
@media (min-width: 728px) {
    #main-content {
        padding: 20px 15% 20px 15%;
    }

    .mobile-view {
        display: none;
    }

    .desktop-view {
        display: block;
    }
}

@media (min-width: 1032px) {
    #main-content {
        padding: 20px 20% 20px 20%;
    }
}

@media (min-width: 1400px) {
    #main-content {
        padding: 20px 25% 20px 25%;
    }
}