#eyecatcher-section {
    border-bottom: solid;
    padding: 20px 10% 20px 10%;
}

#reviews-section, #amenities-section, #floor-plans-section {
    padding: 20px 10% 20px 10%;
}

#eyecatcher-section h2, #eyecatcher-section p {
    text-align: center;
}

#eyecatcher-section h2, #reviews-section h2, #floor-plans-section h2, #amenities-section h2 {
    margin-top: 0;
}

#eyecatcher-section h2, #amenities-section h2, #amenities-section h3, #reviews-section h2, #floor-plans-section h2 {
    font-family: "Gabarito", sans-serif;
}

#eyecatcher-section p, #amenities-section p, #amenities-section ul, #reviews-section p, .sample-review, #floor-plans-section p {
    font-family: "EB Garamond", serif;
}

#eyecatcher-section p, #reviews-section p, #amenities-section p, #floor-plans-section p {
    margin: 0;
}

#reviews-section a, #amenities-section a, #floor-plans-section a {
    font-family: "EB Garamond", serif;
    color: green;
}

.sample-review {
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

#secondary-body-for-floor-plans {
    width: 100%;
    height: max-content;
    margin: 0;
}

#sample-floor-plan-info-box-container {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 200px;
    height: 300px;
}

#radio1, #radio2, #radio3 {
    display: none;
}

#sample-floor-plan-info-box-navigation {
    width: 100%;
    height: 20px;
    bottom: 0;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dot {
    width: 10px;
    height: 10px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background-color: gray;
}

.dot:hover {
    cursor: pointer;
}

.sample-floor-plan-info-box {
    background-color: #FFFEC2;
    text-align: center;
    width: max-content;
    position: absolute;
    z-index: -1;
}

#radio1:checked ~ #box1,
#radio2:checked ~ #box2,
#radio3:checked ~ #box3 {
    z-index: 99;
}

#radio1:checked ~ #sample-floor-plan-info-box-navigation #dot1,
#radio2:checked ~ #sample-floor-plan-info-box-navigation #dot2,
#radio3:checked ~ #sample-floor-plan-info-box-navigation #dot3 {
    background-color: white;
}

.floor-plan-image {
    width: 200px;
}

.sample-floor-plan-info-box h2, .sample-floor-plan-info-box p {
    margin: 0;
}

#reviews-section {
    background: linear-gradient(#6FD6FA, #FFFEC2);
}

#amenities-section {
    background: linear-gradient(#D9BAFF, #FFA6A6);
}

#floor-plans-section {
    background: linear-gradient(#FFA6A6, #6FD6FA);
}

@media (min-width: 496px) {
    #eyecatcher-section, #amenities-section, #floor-plans-section, #reviews-section {
        padding: 20px 15% 20px 15%;
    }
}

@media (min-width: 728px) {
    #eyecatcher-section {
        padding: 50px 15% 50px 15%;
    }

    #amenities-section, #floor-plans-section, #reviews-section {
        padding: 20px 15% 20px 15%;
    }
}

@media (min-width: 1032px) {
    #eyecatcher-section {
        padding: 50px 20% 50px 20%;
    }

    #amenities-section, #floor-plans-section, #reviews-section {
        padding: 20px 20% 20px 20%;
    }
}

@media (min-width: 1400px) {
    #eyecatcher-section {
        padding: 50px 25% 50px 25%;
    }

    #amenities-section, #floor-plans-section, #reviews-section {
        padding: 20px 25% 20px 25%;
    }
}