#eyecatcher-section, #amenities-section, #floor-plans-section, #reviews-section {
    border-bottom: solid;
    padding: 20px 10% 20px 10%;
}

#eyecatcher-section h2, #eyecatcher-section p {
    text-align: center;
}

#eyecatcher-section h2, #reviews-section h2, #floor-plans-section h2, #amenities-section h2 {
    margin-top: 0;
}

#eyecatcher-section p, #reviews-section p, #amenities-section p {
    margin: 0;
}

.sample-review {
    border: solid;
    border-color: purple;
    padding: 10px;
}

#secondary-body-for-floor-plans {
    width: 100%;
    height: max-content;
    margin: 0;
    background: lightblue;
}

#sample-floor-plan-info-box-container {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 200px;
    height: 300px;
    background: plum;
}

#radio1, #radio2, #radio3 {
    display: none;
}

#sample-floor-plan-info-box-navigation {
    width: 100%;
    height: 20px;
    bottom: 0;
    position: absolute;
    text-align: center;
    z-index: 99;
    background: lightgreen;
}

.dot {
    width: 10px;
    height: 10px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: gold;
}

.dot:hover {
    cursor: pointer;
}

.sample-floor-plan-info-box {
    text-align: center;
    width: max-content;
    position: absolute;
    z-index: -1;
}

#radio1:checked ~ #box1,
#radio2:checked ~ #box2,
#radio3:checked ~ #box3 {
    z-index: 99;
}

#radio1:checked ~ #sample-floor-plan-info-box-navigation #dot1,
#radio2:checked ~ #sample-floor-plan-info-box-navigation #dot2,
#radio3:checked ~ #sample-floor-plan-info-box-navigation #dot3 {
    background: white;
}

.floor-plan-image {
    width: 200px;
}

.sample-floor-plan-info-box h2, .sample-floor-plan-info-box p {
    margin: 0;
}

@media (min-width: 496px) {
    #eyecatcher-section, #amenities-section, #floor-plans-section, #reviews-section {
        padding: 20px 15% 20px 15%;
    }
}

@media (min-width: 728px) {
    #eyecatcher-section {
        padding: 50px 15% 50px 15%;
    }

    #amenities-section, #floor-plans-section, #reviews-section {
        padding: 20px 15% 20px 15%;
    }
}

@media (min-width: 1032px) {
    #eyecatcher-section {
        padding: 50px 20% 50px 20%;
    }

    #amenities-section, #floor-plans-section, #reviews-section {
        padding: 20px 20% 20px 20%;
    }
}

@media (min-width: 1400px) {
    #eyecatcher-section {
        padding: 50px 25% 50px 25%;
    }

    #amenities-section, #floor-plans-section, #reviews-section {
        padding: 20px 25% 20px 25%;
    }
}