#main-content h2 {
    margin: 0;
}

#main-content {
    padding: 20px 10% 20px 10%;
    background-color: violet;
}

.review-box {
    border: solid;
    border-color: pink;
    padding: 10px;
}

.review-header {
    width: 100%;
    display: flex;
    flex-direction: horizontal;
}

.reviewer-name, .date {
    width: 50%;
}

.date {
    text-align: right;
}

.review-box p {
    margin-bottom: 0;
}

.star {
    color: yellow;
}

@media (min-width: 496px) {
    #main-content {
        padding: 20px 15% 20px 15%;
    }
}

/* Min width for laptop/desktop view. */
@media (min-width: 728px) {
    #main-content {
        padding: 20px 15% 20px 15%;
    }
}

@media (min-width: 1032px) {
    #main-content {
        padding: 20px 20% 20px 20%;
    }
}

@media (min-width: 1400px) {
    #main-content {
        padding: 20px 25% 20px 25%;
    }
}